<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=ANG-PC\SQLEXPRESS;Initial Catalog=biko;User ID=angela;Password=Scruffy720;Trusted_Connection=False"/>
    <add name="SCRUFFSTER" connectionString="Server=ANG-PC\SQLEXPRESS; Database=biko; User ID=angela; Password=Scruffy720; Trusted_Connection=False"/>
    <add name="thescruffsterConnectionString"
      connectionString="Server=ANG-PC\SQLEXPRESS; Database=biko; User ID=angela; Password=Scruffy720; Trusted_Connection=False"/>
    <add name="bikoConnectionString"
      connectionString="Data Source=ANG-PC\SQLEXPRESS;Initial Catalog=biko;User ID=angela;Password=Scruffy720; Trusted_Connection=False"/>
    <!--<remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=p3swhsql-v15.shr.phx3.secureserver.net; Database=biko; User ID=biko; Password=Scruffy!70; Trusted_Connection=False"/>
    -->
    <!-- <add name="thescruffsterConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\thescruffster.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/> -->
    <!--
    <add name="thescruffsterConnectionString" connectionString="Server=p3swhsql-v15.shr.phx3.secureserver.net; Database=biko; User ID=biko; Password=Scruffy!70; Trusted_Connection=False"/>
    <add name="bikoConnectionString" connectionString="Server=p3swhsql-v15.shr.phx3.secureserver.net; Database=biko; User ID=biko; Password=Scruffy!70; Trusted_Connection=False"/>
    <add name="SCRUFFSTER" connectionString="Server=p3swhsql-v15.shr.phx3.secureserver.net; Database=biko; User ID=biko; Password=Scruffy!70; Trusted_Connection=False"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <roleManager enabled="true"/>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/thescruffster"/>
      </providers>
    </membership>
    <httpRuntime/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>