body
{   background-image:url(bg.png);
   width:100%;
    margin-top:auto;
    margin-bottom:auto; 




    
}



#wrapper
{

 margin-left:auto;
 margin-right:auto;
 width:744px;
 position:relative;
 background-color:#ffffff;
top:120px;
height:auto;
border-radius: 20px;

    
}
#main
{
   position :relative; 
   margin-left:auto;
   margin-right:auto;   
   width:720px;

}

.lbl
{
  float: left;
  width: 125px;
   text-align: right;
    clear: left; 
    font-size: 16px;
    margin-right:5px;
    color:#BB1605;
    border: solid 1pt #E7C924;
    margin-left :15px;
     height :25px;
}
.btn
{
  color:#0C1B74;  
  font-weight:bold; 
   
}
.login
{

  border: solid 1pt #C93102; 
   
    height :auto;

}


.statuspanel
{
     width:450px;
     min-height:150px;
     border :solid 1px #C62D01;
     text-align :left;
     font-family :Arial;
     position:relative;
      margin-left:auto;
      margin-right:auto;
      margin-top:5px;
  padding:2px;
  

}
.gift
{
   border:solid 1px #C99A07;
   background-color :#E0C14D;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:10px;
    height:25px;
    width:150px;
    float :left;
    padding-top :10px;
    padding-left:5px;
    color:#756116;
 
    
}
.brownleydata
{ 
   
    color :Black;  
    display:inline;
    padding :9px;
    position:absolute;
    margin-top:20px;
    font-size:12px;
    margin-left:10px;
   overflow:hidden;
    
     
}
.wish
{
  border:solid 1px #C99A07;
   background-color :#E0C14D; 
    height:25px;
    width:150px;
    clear:left ;
    float:left;
    padding-top :10px;
    padding-left:5px;
    color:#756116;
    margin-left:10px;
    
}


.wishdata
{
    color :Black;  
    display:inline;
    padding :9px;
    position:absolute;
    margin-top:65px;
    font-size:12px;
    width :225px;
    height :auto;
    margin-left:10px;
    overflow:hidden;
}
.mypanel
{
    width:450px;
     min-height:200px;
     border :solid 1px #C62D01;
     text-align :left;
     font-family :Arial;
    position :relative ;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    
}
.historypanel
{
     width:450px;
     min-height:100px;
     border :solid 1px #C62D01;
     text-align :left;
     font-family :Arial;
    position :relative ;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto; 
}

textarea#txtWishList
{
    min-height:100px;
    Width:225px;
    border: 1pt solid #cccccc;
    font-family:Arial;
    margin-top:9px;
    font-size:12px;

    
}
.mywish
{
    border:solid 1px #C99A07;
   background-color :#E0C14D;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:10px;
    height:25px;
    width:100px;
    float :left;
    padding-top :10px;
    padding-left:5px;
    color:#756116; 
   
}
.mywishdata
{
    color :Black;  
    display:inline;
    padding :9px;
    position:absolute;
    margin-top:20px;
    font-size:12px;
    width :250px;
    height :160px;
      
}

.rc1
{
    background-image:url(big-rc1.jpg); 
    height:187px;
    width:10px;
    float:left;     
    
}
.header
{
 width:700px;
 height:187px; 
 background-image:url(gradient.jpg);
 background-repeat :repeat-x;
 text-align :right ; 
 float:left;
}

.rc2
{
   background-image:url(big-rc2.jpg); 
   height:187px;
   width:10px;
   float:right;
 }


.main
{     
 width:800px;
 height :800px; 
   
    
}
.spinbtndiv
{
 margin-top:300px;
 width :300px; 
 margin-left:auto; 
 margin-right :auto; 
 border :solid 1px black;    

}

.spinbutton
{
color:#b91d10;
margin-left:auto;
margin-right:auto;
 cursor:pointer;
 font-weight:bold;
}
#logo{text-transform:lowercase;font-family:'FranchiseRegular','HelveticaNeue-Bold','League Gothic','Impact','sans-serif';
      font-size:100px;margin-bottom:0px;margin-left:80px;color:#c44032;text-shadow:#863027 -4px 4px 0;
      margin-top:0px;}
#logo span{display:inline-block;position:relative;letter-spacing:-1px;-webkit-transition:all 0.2s ease-out;}
#logo span:hover{top:3px}
#logo .char1{ font-size:140px;}
#logo .char2, #logo .char11{color:#e36b23;text-shadow:#9b4d1f -4px 4px 0;
                            

}
#logo .char3, #logo .char10{color:#e6c92e;text-shadow:#9c8b26 -4px 4px 0}
#logo .char4, #logo .char9{color:#5da028;text-shadow:#427021 -4px 4px 0}
#logo .char5, #logo .char8{color:#2529bf;text-shadow:#2f597f -4px 4px 0}
#logo .char6, #logo .char7{color:#7073cf;text-shadow:#4a4d88 -4px 4px 0}
#logo .char1{-webkit-transform:rotate(-3deg)}
#logo .char3{top:-1px;-webkit-transform:rotate(2deg)}
#logo .char4{top:-7px}
#logo .char8{left:20px;}
#logo .char9{left:20px;}
#logo .char10{left:20px;}

#logo .char6{top:-7px;-webkit-transform:rotate(2deg)}
#logo .char7{left: 20px; font-size:140px;color:#2529bf;}
#logo .char8{top:1px;-webkit-transform:rotate(-2deg)}
#logo .char9{-webkit-transform:rotate(2deg)}
/*#logo .char10{top:-45px;width:36px;} */
/*#logo .char10{top:-1px;}*/
#logo .char10:hover{-webkit-transition-duration:0.4s;}
*#logo .char11{left: 20px}
/*#logo .char11{top:2px;left:20px;-webkit-transform:rotate(-3deg)}*/



.wishhistory
{
    border:solid 1px #C99A07;
   background-color :#E0C14D;
    margin-bottom:20px;
    margin-top:25px;
    margin-left:10px;
    height:25px;
    min-width:125px;
    float :left;
    padding-top :10px;
    padding-left:5px;
    color:#756116; 
 
 
}
.lblWishHistory
{
   
  font-size:12px;
  border:solid 1px #C99A07;
  padding:10px;
/*width:190px; */
 /* min-height:50px;  */
  margin-right:0px;
 float:right;
  margin-top:8px; 
   overflow:auto;
   word-wrap:break-word;
margin-right:5px;
  

}

.calendar
   {   	

   margin-top:7px;
   margin-right:0px;
   position:absolute;
   height:79px;   
   	
   }   	
   
   .month
   {
   	background-image:url("../styles/datetop.png" );
   	background-repeat: no-repeat;
   	color:#ffffff;
   	font-size:11px;
   	width:50px;
   	height:46px;
   padding-top:32px;
    text-align:center;
    font-family:Britannic Bold;
    font-weight:bold;
   	
   	
   }
    .day
   {
   	background-image:url("../styles/datebtm.png" );
   	background-repeat: no-repeat;
   	color:#ffffff;
   	font-size:14px;
   	width:50px;
   	height:33px;
   	padding-top:10px;
   	text-align:center;
   	vertical-align:middle;
   	margin-top:-32px;
   	 font-weight:bold;
}